<section class="post">
  <h2 class="post-title"><%= link_to post.title, post %></h2>
  <div><%= post.body %></div>
  <div class="comment">
    <%= link_to "#{post.comments.count} comments", post_comments_path(post) %>
  </div>
</section>
